# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# Typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/

# Backend
backend/node_modules/

# LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz

# Misc
*.bak
